/*Preloader*/
#loader {
  background: #93567c;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

#loaderInner {
  background-image: url(../images/spinner.gif);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*Wrapper*/
#wrapper {
  position: relative;
  width: 100%;
}

/*End wrapper*/

/*Header*/

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #999999;
}

header.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.switchedHeader {
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
}

.mainHeader {
  width: 100%;
  background: #2d2d2d !important;
}

.logo {
  margin-bottom: 10px;
}

nav#mainNav {
  float: right;
  margin-top: 10px;
}

nav#mainNav li {
  display: inline-block;
  font-size: 11px;
  position: relative;
  text-transform: uppercase;
  justify-content: center !important;
}

nav#mainNav li a {
  color: #93567c;
  display: block;
  font-family: "Open Sans", sans-serif;
  padding: 20px 15px;
  position: relative;
  font-size: 18px;
  line-height: 70px;
}

.switchedHeader nav#mainNav li a {
  color: #93567c !important;
}

.fab {
  font-size: 40px;
  color: #000000;
}

.mainTitle h1 {
  font-family: "open_sansbold";
  font-size: 19px;
  text-transform: uppercase;
  color: #242424;
}

.mobileBtn {
  padding: 5px;
  text-align: center;
  z-index: 1000;
  display: none;
}

.mobileBtn i {
  font-size: 18 px;
  color: #93567c;
}

.switchedHeader nav#mainNav li a.active:after {
  color: #999999;
  font-size: 13px;
  margin-right: 10px;
  position: absolute;
  right: 0;
  top: 19px;
  z-index: 0;
}

/*End header*/

/*Main slider*/

.mainSlider {
  overflow: hidden;
  position: relative;
}

.mainSlider .slides li {
  background-size: cover !important;
  height: 800px;
}

.mainSlider .slides li:before {
  background: rgba(33, 33, 33, 0.6);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.caption {
  top: 42%;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  color: #ffffff;
}

.caption h1 {
  color: #ffffff;
  font-size: 50px;
  font-family: "playfair_displaybold_italic", Arial, sans-serif;
}

.caption p {
  color: #ffffff;
  font-size: 20px;
  margin-top: 25px;
}

.caption p span {
  font-family: "open_sansbold_italic", Arial, sans-serif;
}

.shortBtn {
  margin-top: 80px;
}

.shortBtn a {
  font-size: 13px;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px 25px 12px 10px;
  font-family: "playfair_displayregular", Arial, sans-serif;
}

.shortBtn a:first-child {
  margin-right: 10px;
  background: #ffffff;
  color: #2d2d2d;
}

.shortBtn a i {
  margin-right: 10px;
}

.shortBtn a:last-child:hover {
  background: #ffffff;
  color: #2d2d2d;
}

/*End main slider*/

/*About section*/

.introText {
  font-size: 16px;
}

.bigTitle h1 {
  border-top: 1px solid #e2e2e2;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #e2e2e2;
  color: #d4d4d4;
  text-transform: uppercase;
  font-size: 140px;
  padding-top: 38px;
  padding-bottom: 44px;
}

/*End about section*


/*Portfolio section*/

.works {
  overflow: hidden;
  width: 100%;
  margin-top: 40px;
}

.item {
  display: block;
  position: relative;
  width: 25%;
  height: 25%;
  float: left;
}

.itemDesc {
  position: absolute;
  background: #93567c;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.itemDesc h3 {
  color: #242424;
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: none;
  text-transform: uppercase;
}

.itemDesc span {
  display: block;
  font-size: 13px;
  text-transform: none;
}

/*End portfolio section*/

/*Contact section*/

.contactContent {
  position: static;
}

.ctFormHolder {
  min-height: 580px;
  background-color: #585858;
  margin-top: 65px;
}

.overlay {
  background: rgb(147, 86, 124);
  min-height: 580px;
  padding-bottom: 80px;
  padding-top: 100px;
}

.info p {
  color: #555555;
  font-size: 15px;
  margin-top: 25px;
  font-family: "Open Sans", sans-serif;
}
/*End contact section*/

/*Footer*/

.footerholder {
  background: #242424;
  color: #444444;
  font-size: 12px;
  padding: 40px 0;
  text-align: center;
}

.footerholder p {
  margin-top: 10px;
}

/*End footer*/

/*-------------------------------------------------------------------------*/

/* Media queries */

/*iPad lanscape*/
@media screen and (max-device-width: 960px) {
  input,
  textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }
  #loaderInner {
    background-position: 50% center;
  }
  .mainSlider .slides li,
  .wwdContent,
  .facts,
  .ctFormHolder {
    background-attachment: scroll;
    background-position: top center !important;
    background-size: cover;
  }
  .mainSlider .flex-control-nav,
  .projectSlider .flex-control-nav {
    opacity: 1 !important;
    bottom: 50px !important;
  }
  .postSlider .flex-control-nav {
    opacity: 1 !important;
    bottom: 15px !important;
  }
}

/* Tablet Portrait size -> standard 960 */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  input,
  textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }
  #loaderInner {
    background-position: 50% center;
  }
  nav#mainNav li a {
    padding: 20px 10px;
  }
  .switchedHeader nav#mainNav li a.active:after {
    margin-right: 5px;
  }
  .mainSlider .slides li {
    background-attachment: scroll;
    background-position: top center !important;
    background-size: cover;
  }
  .mainSlider .flex-control-nav,
  .projectSlider .flex-control-nav {
    opacity: 1 !important;
    bottom: 50px !important;
  }
  .postSlider .flex-control-nav {
    opacity: 1 !important;
    bottom: -125px !important;
  }
}

/* Mobile Landscape Size -> Tablet Portrait size*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  input,
  textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }
  html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }
  #loaderInner {
    background-position: 50% center;
  }
  .mainSlider .slides li {
    background-attachment: scroll;
    background-position: top center !important;
    background-size: cover;
  }
  .mainSlider .flex-control-nav,
  .projectSlider .flex-control-nav {
    opacity: 1 !important;
    bottom: 20px !important;
  }
  .logo h1 {
    color: #242424;
  }
  .logo,
  nav#mainNav {
    float: none;
  }
  nav#mainNav {
    margin-right: 0;
  }
  nav#mainNav ul {
    display: none;
    margin-bottom: 25px;
  }
  nav#mainNav li {
    float: none;
    display: block;
  }
  .switchedHeader nav#mainNav li a.active:after {
    margin-right: -5px !important;
    top: 2px !important;
  }
  .topSocials {
    display: none;
  }
  nav#mainNav li a {
    padding: 3px 0px;
    display: inline-block;
    color: #93567c;
  }
  .mobileBtn {
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: -51px;
    position: relative;
  }

  .caption h1 {
    font-size: 40px;
  }
  .caption p {
    margin-top: 15px;
  }
  .shortBtn {
    display: none;
  }
  .bigTitle h1 {
    padding-bottom: 13px;
    padding-top: 11px;
    font-size: 60px;
  }
  .expertise img {
    width: 30%;
  }
  .container .expertise,
  .container .teamSingle,
  .container .plan {
    margin-bottom: 50px;
  }
  .srvDet {
    width: 370px;
    margin-bottom: 30px;
  }
  .servicesContent,
  .container .plan:last-child,
  .container .info:last-child,
  .container .teamSingle:last-child {
    margin-bottom: 0;
  }
  .testimonials .testiSlider {
    width: 400px;
  }
  .thumbs li img {
    width: 66px;
    height: 60px;
  }
  .testiDetails .td blockquote {
    margin-top: 40px;
  }
  .testiDetails .td h3:after {
    top: 155px;
  }

  .clientSlider {
    width: 430px;
    margin: 40px 0 0 0px;
  }
  .clientSlider li {
    width: 145px !important;
  }
  .clientSlider li i {
    font-size: 75px;
  }
  .container .item {
    margin-bottom: 20px;
  }
  ul#category li {
    display: block;
    margin-bottom: 10px;
  }
  .item {
    width: 100%;
  }
  .item a .desc {
    width: 76.3%;
  }
  .item a .desc h3 {
    margin-top: 80px;
  }
  .blogLatest .postMedia,
  .blogLatest .postDetails {
    float: none;
    width: 420px;
  }
  .blogLatest .postDetails {
    border-left: 1px solid #ebeaea;
  }
  .extra .projNav ul {
    float: none !important;
    margin-top: 10px;
  }
  .videoHolder,
  .projectSlider {
    width: 420px;
  }
  .contactForm {
    width: 420px;
  }
  .contactForm input[type="text"],
  .contactForm textarea {
    width: 420px;
  }
  .container .info {
    margin-bottom: 40px;
  }

  .media {
    height: auto;
  }
  .videoWrapper iframe {
    height: 250px;
  }
  .videoHolder iframe {
    height: 250px;
  }
  .singleOffset {
    margin-top: 140px;
  }
  .blogSingle.singleOffset {
    margin-top: 100px;
  }
  .searchForm input[type="text"] {
    width: 96.4%;
  }
  .searchForm .submitSearch {
    right: 30px;
  }
}

/* Mobile Portrait Size -> Mobile Landscape Size */
@media only screen and (max-width: 479px) {
  input,
  textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }
  html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }
  #loaderInner {
    background-position: 50% center;
  }
  .mainSlider .slides li {
    background-attachment: scroll;
    background-position: top center !important;
    background-size: cover;
  }
  .mainSlider .flex-control-nav {
    opacity: 1 !important;
    bottom: 50px !important;
  }
  .projectSlider .flex-control-nav {
    opacity: 1 !important;
    bottom: 20px !important;
  }
  .postSlider .flex-control-nav {
    opacity: 1 !important;
    bottom: 15px !important;
  }
  .mainHeader {
    background-color: #2d2d2d !important;
  }
  nav#mainNav {
    margin-right: 0;
  }
  nav#mainNav ul {
    display: none;
    margin-bottom: 25px;
  }
  nav#mainNav li {
    float: none;
    display: block;
  }

  .topSocials {
    display: none;
  }
  nav#mainNav li a {
    padding: 3px 0px;
    display: inline-block;
    color: #93567c;
  }
  .mobileBtn {
    display: inline-block;
    float: right;
    margin-right: 2px;
    margin-top: -51px;
    position: relative;
  }

  .caption h1 {
    font-size: 25px;
  }
  .caption p {
    margin-top: 5px;
    font-size: 16px;
  }
  .bigTitle h1 {
    font-size: 44px;
    padding-bottom: 7px;
    padding-top: 5px;
  }
  .container .expertise,
  .container .teamSingle,
  .container .plan {
    margin-bottom: 50px;
  }
  .container .teamSingle:last-child,
  .servicesContent,
  .container .plan:last-child {
    margin-bottom: 0;
  }
  .srvDet {
    width: 240px;
    margin-bottom: 30px;
  }

  .thumbs li {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .testiDetails .td h3:after {
    top: 175px;
  }
  .clientSlider {
    width: 280px;
    margin: 40px 0 0 0px;
  }
  .clientSlider li {
    width: 227px !important;
  }
  .blogLatest .postMedia,
  .blogLatest .postDetails {
    width: 300px;
  }
  .blogLatest .postDetails {
    border-left: 1px solid #ebeaea;
  }
  .imgPost img,
  .postSlider .slides li img {
    height: 250px;
  }
  .clientSlider li i {
    font-size: 75px;
  }
  ul#category li {
    display: block;
    margin-bottom: 10px;
  }
  .item {
    width: 100%;
  }
  .extra .projNav ul {
    float: none !important;
    margin-top: 10px;
  }
  .videoHolder,
  .projectSlider {
    width: 300px;
  }
  .videoHolder iframe {
    height: 200px;
  }

  .contactForm {
    width: 300px;
  }
  .contactForm input[type="text"],
  .contactForm textarea {
    width: 300px;
  }
  .container .info {
    margin-bottom: 40px;
  }

  .singleOffset {
    margin-top: 140px;
  }
  .blogSingle.singleOffset {
    margin-top: 100px;
  }
  .postTitle h1,
  .postTitle h1 a,
  .commentscountTitle h1,
  .respondTitle h1 {
    font-size: 19px;
  }
  .tagsSingle h4 {
    float: none;
  }
  .tagsListSingle {
    margin-top: 10px;
  }
  .tagsListSingle li {
    margin-bottom: 5px;
  }
}

/*End media queries*/
/*-------------------------------------------------------------------------*/
